body {
    background-color: #000;
    margin: 0;
}

.rsc-container {
    background: transparent;
    border-radius: 0;
    margin: 10px auto;
}

.rsc-content {
    margin-top: 0;
    height: calc(95vh - 80px);
    overflow: auto;
    padding-right: 20px;
    width: 100%;
}

.rsc-content .rsc-ts {
    justify-content: center;
    align-items: center;
}

.rsc-content .rsc-ts .rsc-ts-image-container {
    display: none;
}

.rsc-content .rsc-ts .rsc-ts-bubble {
    background: transparent;
    font-size: 18px;
    color: #fff;
}

.rsc-content .rsc-ts:nth-child(odd) .rsc-ts-bubble {
    color: #1cb4ff;
}

.rsc-content .rsc-cs {
    background: transparent;
    font-size: 18px;
    color: #1cb4ff;
}

.rsc-footer {
    width: 30%;
    margin: auto;
}

.rsc-footer input {
    background: transparent;
    border-top: 0;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    font-size: 18px;
    color: #fff;
}

.img-container {
    text-align: center;
}

.img-container img {
    width: 50%;
    height: auto;
}

@media(max-width: 768px) {
    .rsc-footer {
        width: 90%;
    }
}
