body {
    background-color: #000;
    margin: 0;
}

.rsc-container {
    background: transparent!important;
    border-radius: 0!important;
    margin: 10px auto!important;
}

.rsc-content {
    margin-top: 0;
    height: calc(95vh - 80px)!important;
    overflow: auto!important;
    padding-right: 20px!important;
    width: 100%!important;
}

.rsc-content .rsc-ts {
    justify-content: center!important;
    align-items: center!important;
}

.rsc-content .rsc-ts .rsc-ts-image-container {
    display: none!important;
}

.rsc-content .rsc-ts .rsc-ts-bubble {
    background: transparent!important;
    font-size: 18px!important;
    color: #fff!important;
}

.rsc-content .rsc-ts:nth-child(odd) .rsc-ts-bubble {
    color: #1cb4ff!important;
}

.rsc-content .rsc-cs {
    background: transparent!important;
    font-size: 18px!important;
    color: #1cb4ff!important;
}

.rsc-footer {
    width: 30%!important;
    margin: auto!important;
}

.rsc-footer input {
    background: transparent!important;
    border-top: 0!important;
    border-bottom: 1px solid #eee!important;
    border-radius: 0!important;
    font-size: 18px!important;
    color: #fff!important;
}

.img-container {
    text-align: center;
}

.img-container img {
    width: 50%;
    height: auto;
}

@media(max-width: 768px) {
    .rsc-footer {
        width: 90%!important;
    }
}
