.big-square-1, .big-square-2, .big-square-3 {
    width: 60px;
    height: 60px;
    border: 2px solid #1cb4ff;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 30px);
    border-radius: 10%;
    opacity: 0.4;
}

.big-square-1 {
    animation:big-square-1 10s linear infinite;
}
@keyframes big-square-1 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.big-square-2 {
    animation:big-square-2 10s linear infinite;
}
@keyframes big-square-2 {
    from {transform: rotate(30deg);}
    to {transform: rotate(390deg);}
}

.big-square-3 {
    animation:big-square-3 10s linear infinite;
}
@keyframes big-square-3 {
    from {transform: rotate(60deg);}
    to {transform: rotate(420deg);}
}

.little-square-1, .little-square-2, .little-square-3 {
    width: 30px;
    height: 30px;
    border: 2px solid #1cb4ff;
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 15px);
    border-radius: 10%;
    opacity: .4;
}

.little-square-1 {
    animation:little-square-1 10s linear infinite;
}
@keyframes little-square-1 {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

.little-square-2 {
    animation:little-square-2 10s linear infinite;
}
@keyframes little-square-2 {
    from {transform: rotate(390deg);}
    to {transform: rotate(30deg);}
}

.little-square-3 {
    animation:little-square-3 10s linear infinite;
}
@keyframes little-square-3 {
    from {transform: rotate(420deg);}
    to {transform: rotate(60deg);}
}
